{% extends "baseuser.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-body">
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                    {% comment %} {% if messages %}
                        {% for pesan  in messages  %}
                            <div class="alert alert-{{ pesan.tags }}" align="center">
                                <b>{{ pesan }}</b>
                            </div>
                        {% endfor %}
                    {% endif %} {% endcomment %}
                    <center><label><h2 class="arab-font"> Input pelanggaran santri </h2></label></center>
                    <br>
                        <form class="" action="" method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            {{formpln|crispy}}
                        </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">SIMPAN</button>
                                </div>
                            </div>
                        </form>
                 </div>
            </div>
        </div>
    </div>
</div>            
            

{% endblock content %}

